@charset "utf-8";
$fontSize:20;

@function r($px){
	@return $px/2/$fontSize+rem;
}


@mixin setPm($name,$val...){
	// ...是固定写法,在值不固定的时候
	//$val 往后所有的值
	$max:length($val);//4
	$str:'';


	// 进行值得计算
// 12 34 57 78
	@for $i from 1 through $max{
	$value:nth($val,$i)/2/$fontSize;
	
	$str:#{$str+$value}rem;
	
	@if $i<$max{
		$str:#{$str+" "};
	}

	}
	#{$name}:$str;
}
body{
        background: #f2f2f2;
}
.header{
    width: 100%;
    height: r(104);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
//    background-color: #f2f2f2;

}
.pre{
      background-color: rgba(153,153,153,.8);
    width: r(64);
    height:r(64);
    text-align: center;
    line-height: r(64);
    font-family: "PingHei", Microsoft Yahei, SimSun, Arial, Helvetica, sans-serif;
    border-radius: 50%;
     margin-left: r(30);
     margin-top: r(20);
}
.pre a{
    font-size: r(50);
        color: white;
   
}
.list{
    margin-right: r(30);
}
.list span{
    color: white;
    font-size: r(14);
}
.page1 img{
    width: 100%;
    height: auto;
//    background: url(../images/10722777185335889.jpg) no-repeat
}
.product_message{
    padding-left: r(35);
   border-bottom: 1px solid #d3d3d3;
    background: #fff;
}
.saleBox{
    width: 100%;
    padding: r(28) r(0);
}
.price_box{
    padding-right: r(54);
}
.mess_title{
 line-height: r(35);
    color: #ccc;
//    max-height: 3.9rem;
//    display: -webkit-box;
}
.mess_title em{
    font-size: r(28);
}
.peizhi{
    color: #999;
    height: r(32);
    line-height: r(32);
    font-size: r(24);
    padding-bottom: r(18);
    padding-top: r(12);
    width: 100%;
    overflow: hidden;
}
.price{
        width: 100%;
    height: auto;
    overflow: hidden;
}
.price b em{
   color: #f45353;
}
.font28{
    font-size: r(36);
}
.font36{
    font-size: r(40);
}
.huabei{
    padding-top: r(16);
    color: #f05353;
    padding-bottom: r(12);
}
.huabei .hua_img{
  vertical-align: middle;
    padding-right: r(8);
    width: r(35);
    height: r(33);
    background: url(../images/1198654541791279.jpg) left center no-repeat;
    background-size: r(35) auto;
    display: inline-block;
}
.huabei .hua_text{
     vertical-align: middle;
    font-size: r(24);
}
.promise_address{
        height: auto;
    overflow: hidden;
    background: #f9f9f9;
    margin-right: r(35);
//    border-radius: .23rem;
    margin-top:r(12);
    color: #666;
}
.address_content{
    padding: r(12);
    width: 100%;
    height: r(123);
}
.return_to{
    padding-right: r(20);
    height: r(111);
//    text-align: top;
//    display: inline-block;
    width: 10%;
    font-size: r(14);
}
.address{
    font-size: r(12);
    height: r(111);
//     display: inline-block;
    width: 80%;
}


body {
    background: #f2f2f2;
}

.header {
    width: 100%;
    height: r(104);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    //    background-color: #f2f2f2;
}

.pre {
    background-color: rgba(153, 153, 153, .8);
    width: r(64);
    height: r(64);
    text-align: center;
    line-height: r(64);
    font-family: "PingHei", Microsoft Yahei, SimSun, Arial, Helvetica, sans-serif;
    border-radius: 50%;
    margin-left: r(30);
    margin-top: r(20);
}

.pre a {
    font-size: r(50);
    color: white;
}

.list {
    margin-right: r(30);
}

.list span {
    color: white;
    font-size: r(14);
}

.page1 img {
    width: 100%;
    height: auto;
    //    background: url(../images/10722777185335889.jpg) no-repeat
}

.product_message {
    padding-left: r(35);
    border-bottom: 1px solid #d3d3d3;
    background: #fff;
}

.saleBox {
    width: 100%;
    padding: r(28) r(0);
}

.price_box {
    padding-right: r(54);
}

.mess_title {
    line-height: r(35);
    color: #ccc;
    //    max-height: 3.9rem;
    //    display: -webkit-box;
}

.mess_title em {
    font-size: r(28);
}

.peizhi {
    color: #999;
    height: r(32);
    line-height: r(32);
    font-size: r(24);
    padding-bottom: r(18);
    padding-top: r(12);
    width: 100%;
    overflow: hidden;
}

.price {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.price b em {
    color: #f45353;
}

.font28 {
    font-size: r(36);
}

.font36 {
    font-size: r(40);
}

.huabei {
    padding-top: r(16);
    color: #f05353;
    padding-bottom: r(12);
}

.huabei .hua_img {
    vertical-align: middle;
    padding-right: r(8);
    width: r(35);
    height: r(33);
    background: url(../images/1198654541791279.jpg) left center no-repeat;
    background-size: r(35) auto;
    display: inline-block;
}

.huabei .hua_text {
    vertical-align: middle;
    font-size: r(24);
}

.promise_address {
    height: auto;
    overflow: hidden;
    background: #f9f9f9;
    margin-right: r(35);
    //    border-radius: .23rem;
    margin-top: r(12);
    color: #666;
}

.address_content {
    padding: r(12);
    width: 100%;
    height: r(123);
}

.return_to {
    padding-right: r(20);
    height: r(111);
    //    text-align: top;
    //    display: inline-block;
    width: 10%;
    font-size: r(14);
}

.address {
    font-size: r(12);
    height: r(111);
    //     display: inline-block;
    width: 80%;
}

.address .address_top {
    width: 80%;
    line-height: r(37);
}

.address_foot {
    width: 80%;
}

.lianji {
    background-color: rgba(153, 153, 153, 0.8);
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    font-family: "PingHei", Microsoft Yahei, SimSun, Arial, Helvetica, sans-serif;
    border-radius: 50%;
}

.hid {
    width: 100%;
    //    height:10px;
    background: #ccc;
    display: none;
}

.property-content {
    padding-left: r(35);
    margin-top: r(20);
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    //    width: 100%;
    height: auto;
}

.saleBox_ {
    width: 100%;
    padding: r(28) r(0);
}

.saleBox_ dl {
    width: 100%;
    height: auto;
}

.saleBox_ dl dt {
    color: #999;
    padding-right: r(24);
    display: inline-block;
}

.saleBox_ dl dt em {
    font-size: r(12);
}

.saleBox_ dl dd {
    padding-right: r(40);
    display: inline-block;
    color: #999;
}

.saleBox_ dl dd p span {
    font-size: r(12);
    padding-right: r(58);
}

.saleBox_ dl span {
    font-size: r(20);
    line-height: r(21);
    float: right;
}

.property-content ul {
    //    width: 100%;
    height: auto;
}

.property-content ul li {
    widows: 100%;
    height: auto;
}

.property-content ul li dt {
    color: #999;
    padding-bottom: r(16);
}

.property-content ul li dd {
    height: r(54);
    display: inline-block;
}

.bg {
    background: #f15353;
}

.color_box,
.color_box1,
.color_box2 {
    text-align: center;
    color: #fff;
    border: 1px solid #f15353;
    display: block;
    float: left;
    min-width: r(155);
    line-height: r(54);
    border-radius: r(6);
    border: 1px solid #b2b2b2;
    color: #666;
    margin-bottom: r(16);
    margin-right: r(19);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90%;
    padding: 0 r(12);
}

.disappear {
    display: none;
}

.vip {
    padding-right: r(30);
    padding-top: r(28);
    //display: none;
}

.vip li {
    background: url(../images/1636666649991405.jpg) right center no-repeat;
    background-size: r(36) auto;
}

.vip li h3 {
    color: #666;
}

.sele {
    width: r(36);
    height: r(36);
    background: url(../images/1636666649991405.jpg) right center no-repeat;
    background-size: r(36) auto;
    margin-right: r(28);
}

.evaluate {
    padding-left: 0.875rem;
    margin-top: 0.5rem;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    height: auto;
}

.sales {
    width: 100%;
    padding: r(28) r(0);
    line-height: r(23);
}

.sales em {
    color: #999;
    padding: .23rem 0;
    vertical-align: middle;
    display: inline-block;
}

.xing_img {
    vertical-align: middle;
    width: r(150);
    height: r(26);
    padding-left: r(24);
    padding-right: r(7);
    display: inline-block;
}

.xing_img img {
    width: 100%;
    height: auto;
    overflow: hidden
}

.pingjia_text {
    background: #fff;
    padding-left: r(35);
    border-bottom: 1px solid #d3d3d3;
}

.pingjiaBox {
    padding-right: r(28);
}

.h_box {
    padding-top: r(28);
}

.h_box .user_img {
    background: url(../images/1094985529810084.jpg) center no-repeat;
    background-size: r(76) auto;
    width: r(76);
    height: r(76);
    display: inline-block;
}

.user_name {
    display: inline-block;
    width: 80%;
}

.user_left {
    padding-left: r(16);
    font-size: r(14);
    display: block;
    line-height: r(76);
    overflow: hidden;
}

.user_right {
    display: inline-block;
    width: r(150);
    line-height: r(76);
    height: r(76);
}

.user_right i {
    display: inline-block;
    width: r(150);
    height: r(66);
    vertical-align: middle;
    //    float: left;
}

.user_right i img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.user_text {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: r(24);
    line-height: r(88);
}

.suer_time {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: r(24);
    line-height: r(88);
}

.more_pingjia {
    padding: r(25) 0;
    background: #fff;
    text-align: center;
}

.more_text {
    display: inline-block;
    font-size: r(24);
    width: r(294);
    height: r(60);
    line-height: r(60);
    border: 1px solid #b2b2b2;
    border-radius: r(7);
    color: #666;
    margin: 0 auto;
}

.img_father {
    width: 100%;
    height: auto;
    padding-bottom: r(120);
    background: white;
}

.tuwen {
    height: r(88);
    width: 100%;
    border-top: 1px solid #d3d3d3;
    text-align: center;
}

.tuwen b {
    color: #f45151;
    display: inline-block;
    border-bottom: r(4) solid #f45151;
    padding: r(35) r(14) r(29);
}

.img_list {
    width: 100%;
    height: auto;
}

.buy {
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 99999;
}

.buyCar {
    width: 30%;
    height: r(104);
    line-height: r(104);
    background: #fff;
    display: inline-block;
    text-align: center;
}

.buyCar span {
    display: inline-block;
    width: r(60);
    height: r(60);
    margin-top: r(20);
    text-align: center;
    line-height: r(10);
}

.buyCar span img {
    width: 100%;
}

.num {
    //    height: 100% !important;
    margin-top: r(0) !important;
    height: r(104) !important;
    line-height: r(104) !important;
    //    margin-bottom: r(10);
}

.add {
    width: 70%;
    display: inline-block;
    height: r(104);
    line-height: r(104);
    text-align: center;
    background: #f45353;
    color: white;
}
.address .address_top{
    width: 80%;
    line-height: r(37);
}
.address_foot{
     width: 80%;
  
}
.lianji{
 background-color: rgba(153, 153, 153, 0.8);
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    font-family: "PingHei", Microsoft Yahei, SimSun, Arial, Helvetica, sans-serif;
    border-radius: 50%;
    
}
.hid{
    width: 100%;
//    height:10px;
    background: #ccc;
    display: none;
}
.property-content{

    padding-left: r(35);
    margin-top: r(20);
   background: #fff;
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
//    width: 100%;
    height: auto;
}
.saleBox_{
     width: 100%;
    padding: r(28) r(0);
}
.saleBox_ dl{
width: 100%;
    height: auto;
}
.saleBox_ dl dt{
        color: #999;
    padding-right: r(24);
  display: inline-block;
}
.saleBox_ dl dt em{
    font-size: r(12);
}
.saleBox_ dl dd{
    padding-right: r(40);
   display: inline-block;
     color: #999;
}
.saleBox_ dl dd p span{
     font-size: r(12);
      padding-right: r(58);
}
.saleBox_ dl span{
    font-size: r(20);
    line-height: r(21);
    float: right;
}
.property-content ul{
//    width: 100%;
    height: auto;
}
.property-content ul li{
    widows: 100%;
    height: auto;
}
.property-content ul li dt{
    
    color: #999;
    padding-bottom: r(16);
}
.property-content ul li dd{
    height: r(54);
    display: inline-block;
}
.bg{
      background: #f15353;
}

.color_box,.color_box1,.color_box2{
    text-align: center;
      
    color: #fff;
    border: 1px solid #f15353;
    
    display: block;
    float: left;
    min-width: r(155);
    line-height: r(54);
    border-radius: r(6);
    border: 1px solid #b2b2b2;
    color: #666;
    margin-bottom: r(16);
    margin-right: r(19);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90%;
    padding: 0 r(12);
}
.disappear{
    display: none;
}
.vip{
        padding-right: r(30);
    padding-top: r(28);
        
//display: none;
}
.vip li{
background: url(../images/1636666649991405.jpg) right center no-repeat;
background-size: r(36) auto;
    
}
.vip li h3{
    color: #666;
}
.sele{
    width: r(36);
    height: r(36);
        background: url(../images/1636666649991405.jpg) right center no-repeat;
    background-size: r(36) auto;
    margin-right: r(28);
}
.evaluate{
    padding-left: 0.875rem;
    margin-top: 0.5rem;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    height: auto;
}
.sales{
    width: 100%;
    padding: r(28) r(0);
    line-height: r(23);
}
.sales em{
        color: #999;
    padding: .23rem 0;
    vertical-align: middle;
        display: inline-block;
}
.xing_img{
       vertical-align: middle;
    width: r(150);
    height:r(26);
    padding-left:r(24);
    padding-right:r(7);
    display: inline-block;
}
.xing_img img{
    
    width: 100%;
    height: auto;
    overflow: hidden
}   
.pingjia_text{
        background: #fff;
    padding-left:r(35);
    border-bottom: 1px solid #d3d3d3;
}
.pingjiaBox{

    padding-right: r(28);
}
.h_box{
    padding-top: r(28);
}
.h_box .user_img{
background:url(../images/1094985529810084.jpg) center no-repeat;
background-size: r(76) auto;
 width: r(76);
 height: r(76);
    display: inline-block;
}
.user_name{
display: inline-block;
    width: 80%;
}
.user_left{
    padding-left: r(16);
    font-size: r(14);
    display: block;
    line-height: r(76);
   
    overflow: hidden;
    
}  
.user_right{
 display:inline-block;
    width: r(150);
    line-height: r(76);
    height:r(76);
}
.user_right i{
    display: inline-block;
   width: r(150);
    height: r(66);
    vertical-align: middle;
//    float: left;
}
.user_right i img{
        width: 100%;
    height: auto;
    overflow: hidden;
}

.user_text{
    width: 100%;
    height: auto;
    overflow: hidden;
  padding-top: r(24);
    line-height: r(88);
}
.suer_time{
    width: 100%;
    height: auto;
    overflow: hidden;
  padding-top: r(24);
    line-height: r(88); 
}
.more_pingjia{
       padding: r(25) 0;
    background: #fff; 
    text-align: center;
}
.more_text{
    display: inline-block;
        font-size: r(24);
    width:r(294);
    height: r(60);
    line-height: r(60);
    border: 1px solid #b2b2b2;
    border-radius: r(7);
    color: #666;
    margin: 0 auto;
}
.img_father{
    width: 100%;
    height: auto;
    padding-bottom:r(120);
    background: white;
}
.tuwen{
 height: r(88);
    width: 100%;
        border-top: 1px solid #d3d3d3;
text-align: center;
}
.tuwen b{
    color: #f45151;
    display: inline-block;
    border-bottom: r(4) solid #f45151;
 padding: r(35) r(14) r(29);
}
.img_list{
    width: 100%;
    height: auto;
}
.buy{
position: fixed;
width: 100%;
height: auto;
overflow: hidden;
bottom: 0;
left: 0;
z-index: 99999;
}
.buyCar{
width:30%;
    height: r(104);
    line-height: r(104);
    background: #fff;
    display: inline-block;
    text-align: center;
    
}
.buyCar span{
    display: inline-block;
    width: r(60);
    height: r(60);
    margin-top: r(20);
    text-align: center;
  line-height: r(10);
}
.buyCar span img{
    width: 100%;
}
.num{
//    height: 100% !important;
margin-top: r(0) !important;
height: r(104) !important;
 line-height:r(104) !important;
//    margin-bottom: r(10);
}
.add{
 width: 70%;
    
display: inline-block;
     height: r(104);
    line-height: r(104);
    text-align: center;
    background: #f45353;
    color: white;
}






